<section class="min-h-full w-full mt-4">
    <table class="w-[70%] mx-auto">
        <tr>
            <th>Logo</th>
            <th>Nome</th>
            <th>Nome ação</th>
            <th>Valor</th>
        </tr>
        @for (item of response; track $index) {
            <tr>
                <td class="text-center">
                    <img src="{{item.logo}}" alt="{{item.name}} logo" class="h-[35px] block mx-auto">
                </td>
                <td class="text-center">
                    <a href="/stocks/{{item.stock}}" target="_blank" class="block">
                        {{item.name}}
                    </a>
                </td>
                <td class="text-center">
                    <p class="font-bold">{{item.stock}}</p>
                </td>
                <td class="text-center">
                    <p class="font-bold {{item.change >= 0 ? 'text-green-500' : 'text-red-500'}}">{{item.change.toFixed(2)}}</p>
                </td>
            </tr>
        }
    </table>
    <div class="flex justify-center items-center my-4 gap-2">
        <button 
        [disabled]="currentPage <= 1"
        (click)="getPreviousPage()"
        class="bg-purple-700 text-white rounded-md px-3 py-2 cursor-pointer disabled:bg-purple-700/40"
        >
            <
        </button>
        <p class="font-bold">{{currentPage}} / {{lastPage}}</p>
        <button 
        [disabled]="currentPage >= lastPage" 
        (click)="getNextPage()"
        class="bg-purple-700 text-white rounded-md px-3 py-2 cursor-pointer disabled:bg-purple-700/40"
        >
            >
        </button>
    </div>
</section>
