<section class="min-h-[100vh] mt-3 px-4">
    @if (response != null) {
        <div class="flex items-center gap-3">
            <img src="{{response.logourl}}" alt="" class="h-[70px]">
            <div>
                <p class="text-2xl font-bold">{{response.longName}}</p>
                <p class="font-bold">
                    Cotação: <span class="{{response.regularMarketPrice >= response.regularMarketPreviousClose ? 'text-green-500' : 'text-red-500'}}">{{response.regularMarketPrice}} {{response.currency}}</span>
                </p>
            </div>
        </div>
        <div class="mt-3">
            @if (response.summaryProfile != null) {
                <p>Endereço: {{response.summaryProfile.address1}}, {{response.summaryProfile.city}}</p>
                <div class="flex gap-1">
                    <p>Site: </p>
                    <a href="{{response.summaryProfile.website}}">{{response.summaryProfile.website}}</a>
                </div>
                <p>Setor: {{response.summaryProfile.sector}}</p>
            }
            <p>Fechamento ontem: {{response.regularMarketPreviousClose}} {{response.currency}}</p>
            <p>Última variação: {{response.regularMarketChangePercent >= 0 ? "+" : ""}}{{response.regularMarketChangePercent.toFixed(2)}}%</p>
        </div>
        @if(barChartData != null && barChartOptions != null) {
            <div class="mt-8 w-full max-w-3xl mx-auto">
                <h2 class="text-xl font-bold mb-4">Cotação nos últimos 30 dias</h2>
                <div class="bg-white p-4 rounded-lg shadow">
                    <canvas baseChart
                        [type]="'bar'"
                        [data]="barChartData"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend">
                    </canvas>
                </div>
            </div>
        }
    }
</section>
